.wrapper {
  border: 2px solid red;
  width: 835px;
  height: 670px;
  margin: 0% auto;
}
.inner {
  width: 800px;
  height: 545px;
  border: 2px solid green;
  border-radius: 10px;
  margin: 1% 2% 1% 2%;
}
.text_head {
  margin-top: 20px;
  text-align: center;
  font-size: 280%;
}
.text_head2 {
  margin-bottom: 10px;
  text-align: center;
  font-size:15px
}
.profession {
    text-align: center;
}
.foto {
  border-radius: 30px
}
div {
  border: 1px;
}
.item {
  width: center;
  height: center;
  margin: 5px 1% 1% 1%;
  font-size: 100%;
}
a { 
  text-align: center 
}
.wiki { 
  text-align: center;
  font-size: 15px; 
}
.interest {
  margin-top: 0%;
  margin-left: 2%;
  margin-bottom: 0%;
  text-align: left;
  font-weight:bold
}
.image-center {
  display: block;
  margin: auto;
}
.text-p {
  text-align: center;
}
ul {
  margin-top: 1%;
  font-size: 90%;
  text-align: left;
}
.red {
  text-align: red;
}
.green {
  color: green;
}
.red {
  color: red;
}